.body{
    color: black !important;
}
.main-section{
    width: 700px;
    height: 100%;
    margin-top: 50px;
    padding: 50px;
    background-color: #1e1e1e;
    border-radius: 24px;
}

.card {
    border:none;
    overflow: hidden;
    background-color: #1e1e1e;
}

.card-body{
  background-color: #1e1e1e;
  color: white;
  border-bottom: 1px solid #797979;
  border-radius: 0px !important;
  padding-top: 0px !important;
}

.card-header{
  background-color: #1e1e1e;
  color: white;
  border: none;
}

.card-text{
  color: white;
}

.text-muted{
  color: #797977 !important;
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.tab-container {
    display: flex;
    width: 100%;
    overflow: hidden;
    color: white;
  }
  
  .tab {
    padding: 10px 20px;
    flex: 1;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-weight: 500;
  }
  
  .tab::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5px;            /* Thin line */
    background: #888;       /* Gray color */
  }

  .tab.active::after {
    background: white;      /* Change color to white */
    height: 4px;            /* Make the line thicker */
  }
  
.main-heading{
    text-align: center;
    color: white;
    font-size: 25px;
}

.create-post-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  transition: bottom 0.3s ease;
}

.comment-section{
  border-bottom: 1px solid #797979;
  padding-bottom: 10px;
}

.comment-box{
  color: white !important;
  background-color: transparent !important;
  border-color: #4b4b4b;
}
.comment-box::placeholder{
  color: #d9d9d9;
  font-size: 12px;
}