.body{
    color: black !important;
}
.main-section{
    width: 700px;
    height: 100%;
    margin-top: 50px;
    padding: 50px;
    background-color: #1e1e1e;
    border-radius: 24px;
}

.profile-pic{
    margin-left: auto;
    display: flex;
    justify-content: center;
}

.profile-pic span{
    font-size: 30px;;
}

.edit-profile-btn a{
    /* border: none !important; */
    width: 48%;
}

.edit-profile-btn button{
    border: 2px solid white;
    width: 100%;
}


.edit-profile-btn{
    /* border: 2px solid white; */
    border-radius: 8px;
    margin-top: 30px;
}

.user-name{
    font-size: 30px;
}

.user-institute{
    color: #797979;
}

.society-member{
    color: #797979;
}

.section-breaker{
    border-top: 1px solid #797979;
    margin-top: 50px;
}

.card-body{
    background-color: #1e1e1e;
    color: white;
    border-bottom: 1px solid #797979;
    padding-top: 0px !important;
}

.card-header{
    background-color: #1e1e1e;
    color: white;
    border: none;
}


.card-text{
    color: white;
}

.card-footer{
    background-color: #1e1e1e !important;
}

.text-muted{
    color: #797977 !important;
}

.comment-section{
    border-bottom: 1px solid #797979;
    padding-bottom: 10px;
  }
  
  .comment-box{
    color: white !important;
    background-color: transparent !important;
    border-color: #4b4b4b;
  }
  .comment-box::placeholder{
    color: #d9d9d9;
    font-size: 12px;
  }

  .carousel-control-prev-icon,
.carousel-control-next-icon {
    /* background-color: rgba(0, 0, 0, 0.5); dark semi-transparent bg */
    border-radius: 50%;
    padding: 10px;
}

.carousel-control-prev,
.carousel-control-next {
    width: auto; /* tighter fit */
}

.carousel-item img,
.carousel-item video {
    max-height: 400px;
    object-fit: contain; /* preserves aspect ratio */
}

.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next {
    opacity: 1;
    transition: opacity 0.3s;
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 0.6;
}
.create-post-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: bottom 0.3s ease;
}